.signUpPage {
    background: url('https://wallpapercave.com/wp/wp4030802.jpg');
    background-color: black;
    background-size: cover;
    height: 72em;
    width: 100%;
}

  /* .signUp {
    
  } */